<% include partials/_header %>

<div class="container-fluid">
  <div class="row">
    <!--FORM-->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/adds" method="post">
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="latitude"
                placeholder="Latitude"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="longitude"
                placeholder="Longitude"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Title"
              />
            </div>

            <div class="form-group">
              <textarea
                class="form-control"
                name="description"
                cols="80"
                placeholder="Add a Description"
              ></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>List</th>
            <th>latitude</th>
            <th>longitude</th>
            <th>Title</th>
            <th>Description</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
          <tr>
            <td><%= i + 1%></td>
            <td>
              <strong
                ><%= tasks[i].coordinate && tasks[i].coordinate.latitude
                %></strong
              >
            </td>
            <td>
              <strong
                ><%= tasks[i].coordinate && tasks[i].coordinate.longitude
                %></strong
              >
            </td>
            <td><strong><%= tasks[i].title %></strong></td>
            <td><%= tasks[i].description %></td>
            <td>
              <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">
                Delete
              </a>
              <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">
                Edit
              </a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
